html {
  box-sizing: border-box;
  font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16px*/
  width: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/** Globales**/
body {
  font-size: 2rem;
  font-family: 'Sriracha', cursive;
}
img {
  max-width: 100%;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

body {
  background-image: url(img/2fb616205ffd81032dd4db60187eace5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

/**Utilidades**/

.centrar-texto {
  text-align: center;
}
/*Slider*/

.bx-wrapper{
    margin: 0 auto;
}
.bx-wrapper img {
  margin: 0 auto;
}

/**Header**/

.encabezado {
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
  text-align: center;
  width: 100%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado h1 {
  margin-top: 0;
}

/* Contenido */

.articulo {
  background-color: rgba(108, 218, 213, 0.76);
  margin: 2rem 0rem 2rem 0;
  border: solid black 0.1rem;
}

#ubicacion{
    text-align: center;
}

.articulo a{
    margin: 2rem auto;
    font-size: 2rem;
}
#clock{
    text-align: center;
}
#clock span{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    margin: 0 auto;
}

/*Pie de pagina*/

.pie-pagina {
  background-color: rgba(0, 0, 0, 0.555);
  color: white;
  text-align: center;
  width: 100%;
  margin: 2rem 0 0 0;
}
.pie-pagina p {
  margin: 0;
  text-align: left;
}
.divFooter{
    text-align: right;
}